.confetti-canvas {
  position: absolute;
  top: 0; /* adjust if navbar height changes */
  left: 0;
  width: 100%;
  height: 80%; /* only cover 60% of hero section */
  pointer-events: none; /* allow clicks through canvas */
  z-index: 1;
}
